/bin
/dist
/doc
/coverage
/testresults
*.log
/GUITAR-Default.STA
/testoutput.STATE.xml
/.classpath
/build.properties
/lib/swtmodel.jar
/lib/swtripper.jar
/lib/swtrippertest.jar
/lib/swtreplayer.jar
/cobertura.ser

# EGit needs trailing newline
